tml {
    box-sizing: border-box;
}
*, *::after, *::before {
    box-sizing: inherit;
}
a {
    color: rgb(70, 65, 65);
    display: inline-block;
    text-decoration: none;
}
a:hover {
    color:#2aacc8;
}
h1, h2, h3 {
    margin: 0 0 30px 0;
    padding: 0;
    text-align: center;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Montserrat';
    font-weight: 400;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
 }
 .header {
     background-image: url(../../images/headere.jpg);
     background-size: cover;
     height: 180px;
 }
 .main {
    background-color: #b4ebb1;
    padding-top: 30px;
     }
.main__links {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 30px;
    
}
.contacts  {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    line-height: 26px;
    padding-bottom: 100px;
}
.contacts h2 {
    font-size: 25px;
    color: rgb(47, 73, 121);
    
}
.contacts p {
    margin-top: 10px;
}
.contacts span {
    margin-left: 60px;
}


     